.App {
  text-align:center;
  padding-left: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.NavBar a {
  float: center;
  color:black;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align:left;
  padding: 15px;
  
}

.NavBar a:hover {
  color: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f18989 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-family: "Poppins", sans-serif;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
}

/* .todo-container {
  display: flex;
  justify-content: center;
  align-items: left;
} */

h1 {
  font-size: 2rem;
  }


.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.quote-links {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  
}

.quote-details {
  display: flex;
  flex-direction: column;

}




